body, html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Caveat', cursive; 
}

hr {
	max-width: 100px;
	border-width: 4px;
	border-color: rgba(207, 248, 73, 0.8); 
}
header.startup {
	background-position: center;
	background-image: url("4.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr {
	margin-top: 80px;
	margin-bottom: 80px; 
}
header.startup h1:hover{
	color: rgba(207, 248, 73, 0.8);
}

header.startup h1 {
	font-size: 5rem;

}

header.startup hr:hover{
	max-width: 150px;
	transition: 1s all;
}

.btn {
	font-weight:700;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-radius: 300px;

}

.btn-xl {
	padding: 1rem 2rem; 
}

.btn-primary {
	background-color: #9C55C1;
	border-color: #9C55C1; 
}

.btn-primary:hover{
	background-color: rgba(133, 174, 1, 0.8);
	border-color: rgba(133, 174, 1, 0.8);
	border-width: 5px;
	cursor: pointer;
}

#
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
element {
}
#mc_embed_signup input {
    border: 1px solid #999;
    -webkit-appearance: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #9C55C1;
    border-color: #9C55C1;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 300px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#mc_embed_signup form{
	text-align: center;
;
}